In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/luigi/data_science/db/base_datos_2008.csv", nrows = 1e6)

In [5]:
# Duplicando casos (filas)

dfduplicate = pd.concat([df, df])

In [6]:
# Salteando datos
dfduplicate = dfduplicate.sample(frac=1)

In [7]:
# Eliminando casos duplicados
dfclean = dfduplicate.drop_duplicates()

In [9]:
len(dfclean) == len(df)

False

In [10]:
len(dfclean)

999996

In [12]:
# Buscar duplicados sobre una columna

dfclean.drop_duplicates(subset="DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
363480,2008,1,14,1,1052.0,1053,1347.0,1351,FL,404,...,8.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
839687,2008,2,19,2,1505.0,1211,1626.0,1337,UA,1179,...,7.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,169.0
717708,2008,2,5,2,823.0,825,1027.0,1043,XE,2728,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
260850,2008,1,4,5,1155.0,1155,1402.0,1402,US,1484,...,6.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
430953,2008,1,16,3,640.0,643,844.0,850,NW,448,...,6.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
250679,2008,1,21,1,611.0,615,853.0,910,UA,1430,...,7.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
959140,2008,2,26,2,1344.0,1345,2110.0,2105,HA,2,...,14.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
746991,2008,2,29,5,1011.0,1011,1137.0,1139,YV,7335,...,8.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
734294,2008,2,11,1,NaN,1514,NaN,1635,YV,7194,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
420305,2008,1,18,5,651.0,700,806.0,810,MQ,4803,...,7.0,26.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
609256,2008,2,3,7,1751.0,1750,1850.0,1850,WN,1344,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
864024,2008,2,13,3,1605.0,1520,1850.0,1815,US,968,...,6.0,13.0,0,NaN,0,0.0,0.0,1.0,0.0,34.0
990297,2008,2,1,5,NaN,755,NaN,850,MQ,4219,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
337776,2008,1,22,2,1410.0,1410,1528.0,1521,EV,4633,...,11.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
544383,2008,1,27,7,1131.0,1121,1322.0,1253,AS,75,...,6.0,23.0,0,NaN,0,0.0,0.0,19.0,0.0,10.0
112591,2008,1,24,4,620.0,630,836.0,822,XE,2853,...,12.0,47.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
888718,2008,2,2,6,1335.0,1325,1558.0,1600,WN,139,...,3.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
287958,2008,1,25,5,704.0,710,855.0,837,US,1907,...,3.0,64.0,0,NaN,0,0.0,0.0,18.0,0.0,0.0
821628,2008,2,6,3,NaN,1500,NaN,1625,UA,385,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
236002,2008,1,8,2,1218.0,1217,1509.0,1450,UA,598,...,26.0,14.0,0,NaN,0,0.0,0.0,19.0,0.0,0.0
952046,2008,2,20,3,2149.0,2158,434.0,503,FL,60,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
577824,2008,1,17,4,1329.0,1255,1636.0,1433,CO,1163,...,6.0,112.0,0,NaN,0,0.0,0.0,123.0,0.0,0.0
291350,2008,1,28,1,1738.0,1745,1853.0,1913,US,1607,...,4.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
782791,2008,2,12,2,1125.0,1135,1204.0,1224,OO,5717,...,3.0,3.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
24507,2008,1,10,4,1816.0,1755,2123.0,2040,WN,907,...,7.0,41.0,0,NaN,0,21.0,0.0,22.0,0.0,0.0
416315,2008,1,23,3,815.0,820,1029.0,1030,MQ,4566,...,4.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
756679,2008,2,15,5,1445.0,1333,1540.0,1424,OH,5537,...,2.0,16.0,0,NaN,0,0.0,72.0,4.0,0.0,0.0
343612,2008,1,31,4,739.0,740,1033.0,1023,EV,4839,...,11.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
858381,2008,2,9,6,1703.0,1710,2343.0,4,US,648,...,4.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
536038,2008,1,7,1,1348.0,1345,1705.0,1704,AS,76,...,4.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
216084,2008,1,30,3,808.0,807,1023.0,1008,OO,6017,...,4.0,27.0,0,NaN,0,15.0,0.0,0.0,0.0,0.0

In [13]:
# Eliminar campos con Na
df.dropna()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [14]:
# funciones de dropna()

df.dropna(thresh=25) # mantener % de filas aunque tengan Na

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [16]:
df.dropna(thresh=len(df.columns)-2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [17]:
df.dropna(subset=["CancellationCode"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN