In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/luigi/data_science/db/base_datos_2008.csv")

$$ {x^2} = \sum \limits _{i=j} ^k \frac{({observando _i} - {esperado _i}) ^2 }{esperado _i} $$

In [2]:
np.random.seed(0)
df = df[df['Origin'].isin(['HOU', 'ATL', 'IND'])]
df = df.sample(frac=1)
df = df[0:10000]

In [3]:
df['BigDelay'] = df['ArrDelay'] > 30
observados = pd.crosstab(index=df['BigDelay'], columns=df['Origin'], margins=True)

In [4]:
observados

Origin     ATL   HOU  IND    All
BigDelay
False     6927   883  765   8575
True      1197   129   99   1425
All       8124  1012  864  10000

In [12]:
round(len(df[(df['Origin'] == 'ATL') & (df['BigDelay'] == False)]) / len(df[df['Origin'] == 'ATL' ]), 3) * 100

85.3

In [15]:
from scipy.stats import chi2_contingency

In [16]:
test = chi2_contingency(observados)

In [17]:
# 1. Suma de las diferencias al cuadrado
# 2. p valor (permite tomar desiciones basado en un criterio)
# Tabla de valores esperados

test

(8.939538453043031,
 0.17700704816414425,
 6,
 array([[ 6966.33,   867.79,   740.88,  8575.  ],
        [ 1157.67,   144.21,   123.12,  1425.  ],
        [ 8124.  ,  1012.  ,   864.  , 10000.  ]]))

In [18]:
esperados = pd.DataFrame(test[3])

In [19]:
esperados

         0        1       2        3
0  6966.33   867.79  740.88   8575.0
1  1157.67   144.21  123.12   1425.0
2  8124.00  1012.00  864.00  10000.0

In [20]:
esperados_rel = round(esperados.apply(lambda r: r/len(df) *100, axis=1),2)

In [21]:
observados_rel = round(observados.apply(lambda r: r/len(df) *100, axis=1),2)

In [22]:
observados_rel

Origin      ATL    HOU   IND     All
BigDelay
False     69.27   8.83  7.65   85.75
True      11.97   1.29  0.99   14.25
All       81.24  10.12  8.64  100.00

In [23]:
esperados_rel

       0      1     2       3
0  69.66   8.68  7.41   85.75
1  11.58   1.44  1.23   14.25
2  81.24  10.12  8.64  100.00

In [24]:
test[1]

0.17700704816414425

## Resumen de Test de hipótesis
    * Si el p-valor < 0.05 hay diferencias significativas: Hay relación entre variables
    * si el p-valor > 0.05 no hay diferencias significativas: No hay relación entre variables

# Chi cuadrada positiva con distancia y tiempo de vuelo

In [25]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/luigi/data_science/db/base_datos_2008.csv")

In [26]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [27]:
df = df.sample(frac=1)
df = df[0:10000]

In [29]:
np.random.seed(0)
obser = pd.crosstab(index=df['Distance'], columns=df['AirTime'], margins=True)

In [31]:
obser.tail()

AirTime,8.0,9.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,...,477.0,486.0,491.0,494.0,514.0,526.0,527.0,559.0,607.0,All
Distance,,,,,,,,,,,,,,,,,,,,,
3972,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4243,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,3
4502,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,3
4962,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,2
All,1,2,2,4,3,4,5,13,18,16,...,1,2,1,1,1,1,1,1,1,9782

In [32]:
test2 = chi2_contingency(obser)

In [35]:
test2

(760999.9909837251,
 0.0,
 414490,
 array([[1.02228583e-04, 2.04457166e-04, 2.04457166e-04, ...,
         1.02228583e-04, 1.02228583e-04, 1.00000000e+00],
        [8.17828665e-04, 1.63565733e-03, 1.63565733e-03, ...,
         8.17828665e-04, 8.17828665e-04, 8.00000000e+00],
        [5.11142916e-04, 1.02228583e-03, 1.02228583e-03, ...,
         5.11142916e-04, 5.11142916e-04, 5.00000000e+00],
        ...,
        [3.06685749e-04, 6.13371499e-04, 6.13371499e-04, ...,
         3.06685749e-04, 3.06685749e-04, 3.00000000e+00],
        [2.04457166e-04, 4.08914332e-04, 4.08914332e-04, ...,
         2.04457166e-04, 2.04457166e-04, 2.00000000e+00],
        [1.00000000e+00, 2.00000000e+00, 2.00000000e+00, ...,
         1.00000000e+00, 1.00000000e+00, 9.78200000e+03]]))

In [36]:
esper = pd.DataFrame(test2[3])

In [37]:
esper

,0,1,2,3,4,5,6,7,8,9,...,353,354,355,356,357,358,359,360,361,362
0,0.000102,0.000204,0.000204,0.000409,0.000307,0.000409,0.000511,0.001329,0.001840,0.001636,...,0.000102,0.000204,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,1.0
1,0.000818,0.001636,0.001636,0.003271,0.002453,0.003271,0.004089,0.010632,0.014721,0.013085,...,0.000818,0.001636,0.000818,0.000818,0.000818,0.000818,0.000818,0.000818,0.000818,8.0
2,0.000511,0.001022,0.001022,0.002045,0.001533,0.002045,0.002556,0.006645,0.009201,0.008178,...,0.000511,0.001022,0.000511,0.000511,0.000511,0.000511,0.000511,0.000511,0.000511,5.0
3,0.000102,0.000204,0.000204,0.000409,0.000307,0.000409,0.000511,0.001329,0.001840,0.001636,...,0.000102,0.000204,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,1.0
4,0.000102,0.000204,0.000204,0.000409,0.000307,0.000409,0.000511,0.001329,0.001840,0.001636,...,0.000102,0.000204,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141,0.000102,0.000204,0.000204,0.000409,0.000307,0.000409,0.000511,0.001329,0.001840,0.001636,...,0.000102,0.000204,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,1.0
1142,0.000307,0.000613,0.000613,0.001227,0.000920,0.001227,0.001533,0.003987,0.005520,0.004907,...,0.000307,0.000613,0.000307,0.000307,0.000307,0.000307,0.000307,0.000307,0.000307,3.0
1143,0.000307,0.000613,0.000613,0.001227,0.000920,0.001227,0.001533,0.003987,0.005520,0.004907,...,0.000307,0.000613,0.000307,0.000307,0.000307,0.000307,0.000307,0.000307,0.000307,3.0
1144,0.000204,0.000409,0.000409,0.000818,0.000613,0.000818,0.001022,0.002658,0.003680,0.003271,...,0.000204,0.000409,0.000204,0.000204,0.000204,0.000204,0.000204,0.000204,0.000204,2.0
1145,1.000000,2.000000,2.000000,4.000000,3.000000,4.000000,5.000000,13.000000,18.000000,16.000000,...,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9782.0

In [38]:
esperados_rel2 = round(esper.apply(lambda r: r/len(df) *100, axis=1),2)

In [41]:
observados_rel2 = round(obser.apply(lambda r: r/len(df) *100, axis=1),2)

In [42]:
observados_rel2

AirTime,8.0,9.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,...,477.0,486.0,491.0,494.0,514.0,526.0,527.0,559.0,607.0,All
Distance,,,,,,,,,,,,,,,,,,,,,
31,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
49,0.00,0.00,0.02,0.01,0.02,0.01,0.00,0.00,0.00,0.02,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.08
56,0.00,0.00,0.00,0.00,0.00,0.00,0.02,0.01,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.05
58,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
64,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3972,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
4243,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.01,0.00,0.00,0.00,0.01,0.01,0.00,0.00,0.00,0.03
4502,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.01,0.01,0.00,0.00,0.00,0.00,0.01,0.00,0.03
4962,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.01,0.02
All,0.01,0.02,0.02,0.04,0.03,0.04,0.05,0.13,0.18,0.16,...,0.01,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,97.82

In [43]:
esperados_rel2

,0,1,2,3,4,5,6,7,8,9,...,353,354,355,356,357,358,359,360,361,362
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.08
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.05
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
1142,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.03
1143,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.03
1144,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.02
1145,0.01,0.02,0.02,0.04,0.03,0.04,0.05,0.13,0.18,0.16,...,0.01,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,97.82

In [45]:
test2[1]

0.0